body{
  background-color: rgb(160,160,160);
}
#cabecalho{
  border: 1px solid black;
  background-color: rgb(100, 129, 2);
  width: 1357px;
  margin: -9px;
  
}
#titulo{
    position: relative;
    text-align: center;
    color: rgb(230, 230, 230);
    bottom: -20px;
}
#subtitulo{
    position: relative;
    text-align: center;
    bottom: -7px;
    color: rgb(230, 230, 230);
}
#fcadastro{
  position: relative;
  bottom: -52px;
}
#lbname{
  color: rgb(230,230,230);
  font-weight: bold;
}
#iname{
  background-color: green;
  color: lightgray;
  font-weight: bold;
  border-radius: 50px;
  position: relative;
  left: 10px;
}
#lbendereco, #inendereco{
  position: relative;
  bottom: -75px;
  left: -620px;
  width: 462px;
  font-weight: bold;
  color: rgb(230, 230, 230);
}
#inendereco{
  position: relative;
  left: -570px;
  width: 495px;
  background-color: green;
  color: lightgray;
  font-weight: bold;
  border-radius: 50px;
}
#lbairro{
  position: relative;
  left: -1200px;
  bottom: -150px;
  color: rgb(230,230,230);
  font-weight: bold;
}
#inbairro{
  position: relative;
  bottom: -150px;
  left: 125px;
  width: -1495px;
  border-radius: 50px;
  background-color: green;
  color: rgb(230, 230, 230);
  font-weight: bold;
}
#lbcidade{
  position: relative;
  left: -500px;
  top: 95px;
}
#lbdate{
  position: relative;
  bottom: -15px;
  left: -507px;
  width: -1495px;
  color: rgb(230, 230, 230);
  font-weight: bold;
}